{% extends "layouts/borchester.html" %}

{% set pageName = "Your organisation" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageName}}
      </h1>

      <form class="form" action="/site-boundary-choice" method="post">

        {{ govukInput({
          name: "organisation",
          label: { text: "Your organisation", classes: "govuk-label--s"  },
          value: data['organisation']
        }) }}

        <p class="govuk-body">If you are acting on behalf of another person or organisation please provide details of the person or organisation you're acting on behalf of</p>

        {{ govukInput({
          name: "actingOnBehalfOf",
          label: { text: "Their name or organisation's name", classes: "govuk-label--s"  },
          value: data['actingOnBehalfOf']
        }) }}

        {{ govukCharacterCount({
          name: "additionalInfo",
          label: { text: "Any other information we should know about the person or organisation you're acting on behalf of", classes: "govuk-label--s"  },
          hint: { text: "For example, the organisation owns the neighbouring field" },
          rows: 5,
          value: data['additionalInfo'],
          maxwords: 350
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
