{% extends "layouts/borchester.html" %}

{% set pageName = "What is the site currently used for?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="/proposed-use" method="post">
        {% set otherHtml %}
          {{ govukInput({
            id: "currentOtherDetails",
            name: "currentOtherDetails",
            value: data['currentOtherDetails'],
            label: {
              text: "Please provide a description of the current site usage"
            }
          }) }}
        {% endset %}
        
        {{ govukCheckboxes({
          name: "currentSiteUse",
          values: data['currentSiteUse'],
          fieldset: {
            legend: {
              text: pageName,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          formGroup: {
            beforeInputs: {
              html: '<p>For full explanation of planning use classes see the <a href="https://www.planningportal.co.uk/permission/common-projects/change-of-use/use-classes">Planning Portal</a></p>'
            }
          },
          items: [
            {
              text: "Class B2: General industry",
              value: "Class B2: General industry"
            },
            {
              text: "Class B8: Storage and distribution",
              value: "Class B8: Storage and distribution"
            },
            {
              text: "Class C1: Hotels",
              value: "Class C1: Hotels"
            },
            {
              text: "Class C2: Residential institutions (for example care homes, boarding schools and colleges, hospitals or nursing homes)",
              value: "Class C2: Residential institutions (for example care homes, boarding schools and colleges, hospitals or nursing homes)"
            },
            {
              text: "Class C2a: Secure residential institutions (for example prisons, young offenders’ institutions, detention centres or secure training centres)",
              value: "Class C2a: Secure residential institutions (for example prisons, young offenders’ institutions, detention centres or secure training centres)"
            },
            {
              text: "Class C3: Dwelling-houses",
              value: "Class C3: Dwelling-houses"
            },
            {
              text: "Class C4: Houses in multiple occupation",
              value: "Class C4: Houses in multiple occupation"
            },
            {
              text: "Class E: Commercial, Business and Service",
              value: "Class E: Commercial, Business and Service"
            },
            {
              text: "Class F1: Learning and non-residential institutions (for example schools, museums, libraries or art galleries)",
              value: "Class F1: Learning and non-residential institutions (for example schools, museums, libraries or art galleries)"
            },
            {
              text: "Class F2: Local Community Uses (for example, community halls, meeting places, outdoor sport or recreation, swimming pools or ice skating rinks)",
              value: "Class F2: Local Community Uses (for example, community halls, meeting places, outdoor sport or recreation, swimming pools or ice skating rinks)"
            },
            {
              text: "Other (known as Sui generis): Uses which do not fall within the specified use classes above",
              value: "Other (Sui generis)",
              conditional: {
                html: otherHtml
              }
            },
            {
              text: "Undeveloped land",
              value: "undeveloped"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a href="#" class="govuk-link">Back</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
