{% extends "layouts/borchester.html" %}

{% set pageName = "Has there been any market interest in the site?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="/site-timeline" method="post">
        {% set detailsHtml %}
        {{ govukCharacterCount({
          id: "marketInterestDetails",
          name: "marketInterestDetails",
          value: data['marketInterestDetails'],
          label: {
            text: "Provide details of any discussions or interest in the site"
          },
          maxwords: 350
        }) }}
        {% endset %}
      
        {{ govukRadios({
          name: "marketInterest",
          value: data['marketInterest'],
          fieldset: {
            legend: {
              text: pageName,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            },
            hint: {
              text: "Have there been any discussions with developers or housebuilders about the site?"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: detailsHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a href="#" class="govuk-link">Back</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
