{% extends "layouts/borchester.html" %}

{% set pageName = "Does this site have multiple owners?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="/existing-access" method="post">
        {% set detailsHtml %}
          {{ govukTextarea({
            id: "ownerDetails",
            name: "ownerDetails",
            label: {
              text: "Please give details of the site owners"
            }
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "multipleOwners",
          fieldset: {
            legend: {
              text: pageName,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: detailsHtml
              }
            },
            {
              value: "No",
              text: "No"
            }   
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a href="#" class="govuk-link">Back</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
