{% extends "layouts/borchester.html" %}

{% set pageName = "Select an address" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set searchResults %}
        <p class="govuk-body">6 addresses found for wr11nl and 1.</p>

        {{ govukButton({
          text: "Search again",
          href: "/find-address",
          classes: "govuk-button--secondary"
        }) }}
      {% endset %}

      <form class="form" action="/site-boundary-constraints" method="post">
        {{ govukRadios({
          name: "selectedAddress",
          fieldset: {
            legend: {
              text: pageName,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          formGroup: {
            beforeInputs: {
              html: searchResults
            }
          },
          items: [
            {
              value: "1 Washington Street, Borchester, BR1 1NL",
              text: "1 Washington Street, Borchester, BR1 1NL"
            },
            {
              value: "10 Washington Street, Borchester, BR1 1NL",
              text: "10 Washington Street, Borchester, BR1 1NL"
            },
            {
              value: "11 Washington Street, Borchester, BR1 1NL",
              text: "11 Washington Street, Borchester, BR1 1NL"
            },
            {
              value: "101 Washington Street, Borchester, BR1 1NL",
              text: "101 Washington Street, Borchester, BR1 1NL"
            },
            {
              value: "110 Washington Street, Borchester, BR1 1NL",
              text: "110 Washington Street, Borchester, BR1 1NL"
            },
            {
              value: "111 Washington Street, Borchester, BR1 1NL",
              text: "111 Washington Street, Borchester, BR1 1NL"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Use this address"
          }) }}

          <a href="/site-address" class="govuk-link">Enter address manually</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
