{% extends "layouts/borchester.html" %}

{% set pageName = "What is your connection to the site?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="/multiple-owners" method="post">
        {% set otherHtml %}
          {{ govukInput({
            id: "otherConnection",
            name: "otherConnection",
            value: data['otherConnection'],
            label: {
              text: "Please specify"
            }
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "siteConnection",
          value: data['siteConnection'],
          fieldset: {
            legend: {
              text: pageName,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "Landowner or landowner's agent",
              text: "Landowner or landowner's agent"
            },
            {
              value: "Developer or developer's agent",
              text: "Developer or developer's agent"
            },
            {
              value: "Commercial or business operator",
              text: "Commercial or business operator"
            },
            {
              value: "Local resident",
              text: "Local resident"
            },
            {
              value: "Community group",
              text: "Community group"
            },
            {
              value: "Other",
              text: "Other – please specify below",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a href="#" class="govuk-link">Back</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
