{% extends "layouts/borchester.html" %}

{% block pageTitle %}
  Site uses – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/site-boundary-choice" method="post">

        {% set otherHtml %}
          {{ govukInput({
            name: "otherUse",
            label: { text: "Please specify below", classes: "govuk-label--s" },
            type: "text",
            classes: "govuk-input--width-20"
          }) }}
        {% endset %}

        {{ govukCheckboxes({
          name: "siteUses",
          fieldset: {
            legend: {
              text: "What use or uses do you think should be considered for this site?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can choose as many uses as you'd like."
          },
          items: [
            { text: "Housing", value: "housing"},
            { text: "Industry – including distribution or logistics uses", value: "industry"},
            { text: "Commercial uses – office, retails, leisure, hotel or mixed commercial uses", value: "commercial"},
            { text: "Community uses", value: "Community"},
            { text: "Minerals – extracting, processing, and so on", value: "minerals"},
            { text: "Waste – recycling or processing", value: "waste"},
            { text: "Tourism", value: "Tourism"},
            { text: "Gypsy and Traveller site", value: "gypsy"},
            { text: "Travelling Show-people site", value: "travelling"},
            { text: "New public green space", value: "green-space"},
            { text: "Renewable energy", value: "renewable-energy"},
            { text: "Energy storage", value: "energy-storage"},
            { text: "Other", value: "other", conditional: {
              html: otherHtml
            } }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a href="/contact-details" class="govuk-link">Back</a>
        </div>
      </form>

    </div>
  </div>

{% endblock %}
