{% extends "layouts/borchester.html" %}

{% set pageName = "Potential site constraints" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <img src="/public/images/site-boundary-map.png" alt="Site boundary map" style="width: 100%; height: auto;">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <p class="govuk-body">Planning data shows that your site is in flood zones 1 and 3a. Explain how you plan to mitigate the constraints.</p>

      <p class="govuk-body">If you skip this step, we may ask how you will mitigate the constraints when we assess all suggested sites.</p>

      {% set floodZone1Status %}{{ "Complete" if data.floodZone1Response else "Incomplete" }}{% endset %}
      {% set floodZone1Tag %}{{ "govuk-tag--blue" if data.floodZone1Response else "govuk-tag--grey" }}{% endset %}

      {% set floodZone3Status %}{{ "Complete" if data.floodZone3Response else "Incomplete" }}{% endset %}
      {% set floodZone3Tag %}{{ "govuk-tag--blue" if data.floodZone3Response else "govuk-tag--grey" }}{% endset %}

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Flood zone 1"
            },
            href: "/flood-zone-1",
            status: {
              tag: {
                text: floodZone1Status,
                classes: floodZone1Tag
              }
            }
          },
          {
            title: {
              text: "Flood zone 3"
            },
            href: "/flood-zone-3",
            status: {
              tag: {
                text: floodZone3Status,
                classes: floodZone3Tag
              }
            }

          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue",
          href: "/other-constraints"
        }) }}

        <a href="#" class="govuk-link">Back</a>
      </div>
    </div>
  </div>
{% endblock %}
