{% extends "layouts/unbranded.html" %}

{% set pageName = "Where are the boundaries of this site?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p class="govuk-body">Draw the boundaries of your suggested site using the polygon icon on the right of the map. You can edit the boundaries with the pencil icon.</p>

      {{ govukDetails({
        summaryText: "Help drawing a site boundary"
      }) }}

      {{ govukDetails({
        summaryText: "Change or delete a site boundary"
      }) }}

      <h3 class="govuk-heading-m">Your site has some potential constraints</h3>
      
      <p class="govuk-body">Your site is in an area that has some potential constraints that could affect development. You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Tell us how you plan to mitigate constraints on the next screen</li>
        <li>Change the site boundary on the map using the pencil icon</li>
      </ul>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue",
          href: "/site-constraints"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
