{% extends "layouts/borchester.html" %}

{% set pageName="Start" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">To meet the needs of our residents and businesses up to 2040, we may need to
    identify additional land for development as part of our Local Plan 2040.</p>

    <p class="govuk-body">We want to look at a number of options, so we can choose the most suitable sites
    for new developments.</p>

    <p class="govuk-body">If you have any suggestions for sites that should be considered when we are
    developing the Local Plan, we want to hear from you. This is known as a 'call
    for sites'.</p>

    <p class="govuk-body">This call for sites doesn't determine how many new developments we need, or
    which sites will be allocated for development. It's an opportunity for local
    residents, community groups, business operators, landowners and developers to
    suggest sites that they would like to be considered as part of the Local Plan
    2040</p>

    {{ govukButton({
      text: "Submit a site",
      href: "/contact-details",
      isStartButton: true
    }) }}

  {% set section1Title = "Who can suggest a site" %}
  {% set section1HTML %}
    <p class="govuk-body">Anyone can suggest a site to us. When you submit a site,
    we'll ask you what your connection to the site is, for example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the landowner</li>
      <li>a developer</li>
      <li>a business operator</li>
      <li>a local resident</li>
      <li>a community group</li>
      <li>any other type of connection to the site</li>
    </ul>
    <p class="govuk-body">You don't have to own a site to suggest it. If you don't
    own the site, but know who does, it's helpful if you tell us. If you don't know
    who owns it, you can still suggest the site and we will look into who owns
    it.</p>
  {% endset %}

  {% set section2Title = "What type of site or development you can suggest" %}
  {% set section2HTML %}
    <p class="govuk-body">
      You can suggest any site that you would like to be considered. We’ll look at how
      it meets the needs for new development in your local authority area between now
      and 2040.
    </p>

    <p class="govuk-body">You can suggest sites for a wide range of uses, including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>housing – including specialist housing such as market-led housing, 100%</li>
      <li>affordable housing, older-persons housing, student housing, and self-build</li>
      <li>housing</li>
      <li>Gypsy and Traveller sites</li>
      <li>Travelling Show-persons sites</li>
      <li>industry – including distribution and logistics uses</li>
      <li>commercial uses – including offices, retail, leisure, hotel and mixed commercial uses</li>
      <li>community uses</li>
      <li>minerals – extraction, processing and so on</li>
      <li>waste – recycling, processing and so on</li>
      <li>tourism</li>
      <li>new public green space</li>
      <li>renewable energy</li>
      <li>energy storage</li>
    </ul>

    <p class="govuk-body">
      If you think that there could be more than one suitable use for a site, you can
      let us know when you submit.
    </p>

    <p class="gov uk-body">
      You can suggest a site for more than one use either in combination (for example,
      housing and commercial uses together) or separately (for example, all housing or
      all commercial development).
    </p>
  {% endset %}

  {% set section3Title = "What happens to the sites that are suggested" %}
  {% set section3HTML %}
    <p class="govuk-body">The call for sites will help us identify a list of sites for consideration.</p>

    <p class="govukBody">Once the call for sites is closed, we'll publish:</p>

    <ul class="govuk-list govuk--bullet">
      <li>the boundaries of all the sites that have been submitted</li>
      <li>the use or uses that they have been suggested for</li>
    </ul>

    <p class="govuk-body">We'll publish this information on our website.</p>

    <p class="govuk-body">Not every site that's submitted to us will be suitable for development. We also won't think all of the proposed developments are needed. So if a site is published on our website, that doesn't mean it will definitely be redeveloped.</p>

    <p class="govuk-body">Over the coming months, we will look at how much and what sorts of developments are needed in your local authority area between now and 2040. We will also consider if more land needs to be allocated for development to meet these needs.</p>

    <p class="govuk-body">If this work identifies more land is needed for one or more of the uses we've identified, we will assess all the site suggestions to determine which ones are suitable.</p>

    <p class="govuk-body">We'll consider a wide range of sustainability considerations, including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>environmental considerations</li>
      <li>transport</li>
      <li>the roles of places</li>
      <li>infrastructure</li>
      <li>flooding</li>
    </ul>

    <p class="govuk-body">We'll also consider what benefits a new development may bring to the area, and any issues that might affect the site – such as contamination.</p>

    <p class="govuk-body">Once we know what sites could be suitable for development, we'll work with local communities to make decisions about which options would be best to develop. We'll undertake further consultation to help inform these decisions.</p>

    {% endset %}

    {% set section4Title = "What land will be developed" %}
    {% set section4HTML %}
      <p class="govuk-body">At this early stage in the process, we don't know yet what
      land might be developed. It will depend on what needs are identified for the
      area, and what the overall strategy for distributing development looks like.
      We'll undertake further consultation to help inform these decisions.</p>
    {% endset %}

    {% set section5Title = "How to submit a site suggestion" %}
    {% set section5HTML %}
      <p class="govuk-body">We've developed a site selection form to provide a simple way to submit site suggestions for our Local Plan 2040 call for sites. If you need support, there's guidance in the form to help you complete each step.</p>
      
      {{ govukButton({
        text: "Submit a site",
        href: "/contact-details"
      }) }}
    {% endset %}

    {{ govukAccordion({
      id: "start-page-accordion",
      items: [
        { heading: { text: section1Title }, content: { html: section1HTML } },
        { heading: { text: section2Title }, content: { html: section2HTML } },
        { heading: { text: section3Title }, content: { html: section3HTML } },
        { heading: { text: section4Title }, content: { html: section4HTML } },
        { heading: { text: section5Title }, content: { html: section5HTML } }
      ]
    }) }}
  </div>
</div>

{% endblock %}



