{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.njk" %}

{% set bodyClasses = "borchester-template__body" %}

{% block header %}
<header class="govuk-header borchester-header" role="banner">
  <div class="govuk-header__container borchester-header__container govuk-width-container">
    <div class="borchester-header__logo">
      <img src="/public/images/borchester-logo-yellow.svg" alt="Borchester District Council" >
    </div>
  </div>
</header>
{% endblock %}
